<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- End of Bootstrap CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="custom-body-style">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- End of bootstrap JS-->

    <script src="/javascripts/dashboard.js"></script>
    <input type="hidden" id="email" value="<%= email %>">
    <br>
    <h1 class="display-4 text-white font-weight-bold"> VIRTUAL BUCKET </h1>
    <button type="button" class="btn btn-primary" onclick="signOut()"
        style="position: absolute; right:30px; top: 40px;">Sign Out</button>

    <div class="justify-content-center">
        <br>
        <br>
        <div class="rounded-lg bg-white custom-padding" id="fileUploadDiv"
            style="text-align: center; margin: auto; width: fit-content;">
            <form id="fileUploadForm" name="uploadForm" method="POST" enctype="multipart/form-data">
                <table id="fileUpload">
                    <tbody>
                        <tr>
                            <td><input type="file" id="fileInfo" name="fileInfo" /></td>
                            <td><button type="button" class="btn btn-primary" onclick="uploadFile()">Upload</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        </form>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div class=" rounded-lg bg-white custom-padding" id="dashboardDiv" style="
    text-align: center;
    margin: auto;
    width: fit-content;">
            <table class="table table-hover" id="fileList">
                <thead>
                    <tr>
                        <th><span>File Name</span></th>
                        <th><span>Type</span></th>
                        <th><span>Creation Time</span></th>
                        <th><span>Updation Time</span></th>
                        <th><span></span></th>
                        <th><span></span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>

</html>