.center{
    margin-left:auto;
    margin-right:auto;
}
.custom-body-style{
    background-color:#72a3ec;
    text-align: center;
}
.custom-padding{
    padding: 20px;
}
th, td { 
    text-align:center; 
    padding:5px;
  
} 
